<div class="config-container">
  <div class="config-item">
    <label for="timerValue">Timer (ms):</label>
    <input type="number" id="timerValue" [(ngModel)]="timerValue" (change)="updateWorkerConfig(timerValue, arraySize)">
  </div>

  <div class="config-item">
    <label for="arraySize">Array size:</label>
    <input type="number" id="arraySize" [(ngModel)]="arraySize" (change)="updateWorkerConfig(timerValue, arraySize)">
  </div>

  <div class="config-item">
    <label for="additionalIds">Additional IDs:</label>
    <input type="text" id="additionalIds" [(ngModel)]="additionalIds" (change)="updateIds(additionalIds)">
  </div>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Int</th>
        <th>Float</th>
        <th>Color</th>
        <th>Child</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.int}}</td>
        <td>{{item.float}}</td>
        <td [style.background-color]="item.color">{{item.color}}</td>
        <td>
          <div class="child-item">
            <p>ID: {{item.child.id}}</p>
            <p>Color: {{item.child.color}}</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
